header.scrolled {
    position: absolute;
    top: 0;
    z-index: 100;
}
header {
    background-color: #e00122;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 0.2rem 0.7rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.2rem 0.7rem 0.2rem rgba(0, 0, 0, 0.5);
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    position: relative;
    z-index: 2;
    opacity: 1;
}
header .navbar-header .uc-logo {
    width: 30% !important;
    min-width: 16.5rem;
}
header .navbar-header .site-logo {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0rem 0 0rem 1.5rem;
    text-transform: uppercase;
    margin: 0.4rem 0 0 1.5rem !important;
    position: relative;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

header .navbar-header .navbar-brand {
    float: left;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0rem 1.5rem 0 0;
    font-size: 1.8rem;
    line-height: 2rem;
}
header:after {
    content: "";
    background-image: url(http://lcdn.uc.edu/researchUC/img/petri-dish-head.png);
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.navbar {
    background-color: transparent;
    border: none;
    margin: 0;
}
@media (min-width: 768px){
.navbar-static-top {
    border-radius: 0;
}}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
header .navbar-header .uc-logo {
    width: 30%;
    min-width: 16.5rem;
}
header .navbar-header .uc-logo img {
    width: 100%;
    height: auto;
}

header .navbar-header .navbar-brand {
    float: left;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0rem 1.5rem 0 0;
    font-size: 1.8rem;
    line-height: 2rem;
}
.navbar-header {
    float: left;
}
@media (min-width: 992px){
.navbar-toggle {
    display: none;
}}
@media (min-width: 1200px){
header .navbar-header .site-logo {
    float: right !important;
}}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header .navbar-header {
    min-height: 7.5rem;
    width: 100%;
    clear: both;
    padding: 1.5rem;
}
header .navbar-header .site-logo h1 {
    margin: 0;
    vertical-align: middle;
    line-height: 0.8;
}
.navbar .navbar-collapse {
    background-color: #404040;
    clear: both;
    height: auto;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}}
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}}
@media (min-width: 768px){
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0.9rem 1rem;
    margin-top: 0.8rem;
    margin-right: 1.5rem;
    margin-bottom: 0.8rem;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0.4rem;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0;
    background-color: #fff;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #404040;
}
.nav .navbar-nav a:hover{
    background-color: #000 !important;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
header .navbar-header .uc-logo {
    width: 30%;
    min-width: 16.5rem;
}
header .navbar-header .navbar-brand {
    float: left;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0rem 1.5rem 0 0;
    font-size: 1.8rem;
    line-height: 2rem;
}
header .navbar-header .uc-logo img {
    width: 100%;
    height: auto;
}
.navbar-brand>img {
    display: block;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
@media (max-width: 450px){
    header .navbar-header .site-logo h1 {
        margin: 0;
        vertical-align: middle;
        line-height: 0.8;
        font-size: 4.9vw;
    }
}
@media (min-width: 768px){
    .navbar-header {
        float: left !important;
    }
    .navbar-static-top {
        border-radius: 0 !important;
    }
}
@media (max-width: 542px){
    header .navbar-header .site-logo h1 {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 0.8 !important;
        font-size: 5.2vw !important;
    }
}
@media (max-width: 475px){
    header .navbar-header .site-logo h1 {
        font-size: 5.4vw !important;
    }
    header .navbar-header .uc-logo img {
        width: 470% !important;
        height: auto !important;
        margin-top: 0.3rem !important;
    }
    header .navbar-header .site-logo h1 {
        font-size: 5.4vw !important;
    }
}
@media (max-width: 480px){
    header .navbar-header .site-logo h1 {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 0.8 !important;
        font-size: 5.45vw !important;
    }
}
@media (max-width: 580px){
    header .navbar-header .site-logo h1 {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 0.8 !important;
        font-size: 6vw !important;
    }
}

@media (max-width: 991px){
    header .navbar-header .site-logo:before {
        content: '';
        position: absolute;
        top: -35%;
        left: -0.7rem;
        width: 0.4rem;
        height: 140%;
        background-color: #fff;
        border-radius: 0.5rem;
    }
    header .navbar-header .site-logo:before {
        top: 10% !important;
        left: -0.25rem !important;
        width: 0.4rem !important;
        height: 100% !important;
    }
    .navbar-header {
        min-height: unset!important;
    }
    header .navbar-header .site-logo h1 {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 0.8 !important;
    }
    header .navbar-header .site-logo {
        font-size: 3rem !important;
        padding: 1.5rem 0 0rem 1.5rem !important;
        margin: 0rem 0 0 1.5rem !important;
    }
    header .navbar-header .uc-logo img {
        width: 470% !important;
        height: auto !important;
        margin-top: 0.5rem !important;
    }
    header .navbar-header .uc-logo {
        min-width: unset!important;
        overflow: hidden !important;
        width: 5rem !important;
        height: 5rem !important;
        padding: 0 !important;
        margin-top: 0.3rem !important;
    }
}
header .navbar-header .site-logo {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0rem 0 0rem 1.5rem;
    text-transform: uppercase;
    margin: 1.63rem 0 0 1.5rem;
    position: relative;
}
header .navbar-header .navbar-brand {
    float: left;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0rem 1.5rem 0 0;
    font-size: 1.8rem;
    line-height: 2rem;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar .navbar-collapse .navbar-nav>li {
    position: relative;
}
.navbar .navbar-collapse .navbar-nav>li>a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem 2.3rem;
    line-height: 1;
}
.navbar .navbar-collapse .navbar-nav>li>a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: solid 0.1rem #404040;
}
.navbar .navbar-collapse .navbar-nav>li ul li a {
    font-size: 1.6rem;
    font-weight: normal;
    background-color: #404040;
    padding: 1.8rem 2rem;
    text-align: left;
    position: relative;
    color: #fff;
}

.hero-alt {
    min-height: 27rem;
    background-color: #000;
}

.hero-unit {
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: cover;
    color: #fff;
    padding: 6rem 0;
    min-height: 36rem;
    position: relative;
}
.hero-alt .col-xs-12 {
    z-index: 1;
    padding: 0;
}
.hero-unit h2 {
    margin-top: 0;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.hero-unit p {
    font-size: 2rem;
}
.hero-unit a {
    transition: 0.2s ease;
    color: #fff;
    text-decoration: none !important;
    border: 2px solid #fff;
    padding: 10px;
    display: block;
    width: 15rem;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 2rem;
    margin: 2.5rem 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
}
.hero{
    margin-bottom: 2%;
}
.hero-unit a {
    font-size: 2rem;
    color: #fff;
    text-decoration: underline;
}
.hero-unit a:hover, .hero-unit a:focus {
    border-color: #e00122;
    background-color: #e00122;
}
.hero-alt:after {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70) );
}
.hero-unit:after {
    content: "";
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, black 1%, black 50%, transparent 100%);
    background: -webkit-linear-gradient(left, black 1%, black 50%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, black), color-stop(50%, black), to(transparent));
    background: -o-linear-gradient(left, black 1%, black 50%, transparent 100%);
    background: linear-gradient(to right, black 1%, black 50%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    position: absolute;
    top: 0;
    left: 0;
}