<header id="toTop">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <div class="container">
                <a class="navbar-brand uc-logo" href="//uc.edu">
                    <img src="//lcdn.uc.edu/researchKB/assets/images/uc-web-logo-white.png" alt="University of Cincinnati" width="150" height="50">
                </a>
                <a class="navbar-brand site-logo" href="//research.uc.edu">
                    <h1>Office of Research</h1>
                </a>
            </div>
        </div>
    </nav>
</header>