<footer class="clearfix">
    <!-- the back to Top button using the scrollTo function to scroll up and the duration of 1 sec -->
    <a [scrollTo]="'#toTop'" style="cursor:pointer;" [scrollDuration]="1000" class="backtoTop fadeIn"><span></span><em class="glyphicon glyphicon-chevron-up" aria-hidden="true"></em><span class="sr-only">Back to top of the page</span></a>    <div class="col-sm-4 col-sm-offset-4">
    <div class="sfContentBlock">
        <h5>University of Cincinnati Office of Research</h5>
        <address>
            <p>University Hall Suite 540 ML0663<br>
            Cincinnati, OH 45221-0663</p>
        </address>
        <ul>
            <li><a href="http://www.uc.edu/publicsafety.html" target="new_window">Notice of Emergency &amp; Safety Information<span class="sr-only">This link opens in a new window.</span></a></li>
            <li><a href="//www.uc.edu/about/policies/non-discrimination.html" target="new_window">Notice of Non-Discrimination <span class="sr-only">This link opens in a new window.</span></a></li>
            <li><a href="http://www.uc.edu/publicsafety/annual-security-report.html" target="new_window">Clery and HEOA Notice<span class="sr-only">This link opens in a new window.</span></a></li>
            <li><a href="http://www.uc.edu/ucit/community/accessibility/eAccessibility-form.html" target="new_window">eAccessibility Concern<span class="sr-only">This link opens in a new window.</span></a></li>
            <li><a href="http://www.ipo.uc.edu/index.cfm?fuseaction=home.infringement">Copyright Information ©
                <span class="currentYear">2018</span></a></li>
        </ul>
    </div>
</div>
</footer>
