<div class="researcher-page">
    <div class="container">
        <div class="dashboard" *ngIf="researcher">
            <div class="portrait row">
                <img src="../../assets/portrait.jpg" alt="">
            </div>
            <div class="name row" >
                <h2>{{researcher.firstName}} {{researcher.lastName}}</h2>
            </div>
            <div class="row" >
                <h5><a href="mailto:{{researcher.email}}">{{researcher.email}}</a></h5>
            </div>
            <div class="row" >
               <h5>Department: {{researcher.department}}</h5>
            </div>
            <div class="info row" >
                <p>For the {{this.researcher.measures[0].aggregateName}}, {{researcher.firstName}} {{researcher.lastName}} fits under the {{researcher.measures[0].thresholdName}} threshold. For the {{this.researcher.measures[1].aggregateName}}, {{researcher.firstName}} {{researcher.lastName}} fits under the {{researcher.measures[1].thresholdName}} threshold.</p>
            </div>
            <div class="row">
                <div class="main bucket col-sm-6">
                    <div style="display: block">
                        <canvas baseChart *ngIf="researcher.measures"
                            [datasets]="barChartData1"
                            [labels]="barChartLabels1"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="main bucket col-sm-6">
                    <div style="display: block">
                        <canvas baseChart *ngIf="researcher.measures"
                            [datasets]="barChartData2"
                            [labels]="barChartLabels2"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main bucket col-sm-6">
                    <div style="display: block">
                        <canvas baseChart *ngIf="researcher.measures"
                            [datasets]="barChartData3"
                            [labels]="barChartLabels3"
                            [options]="barChartOptions2"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType2">
                        </canvas>
                    </div>
                </div>
                <div class="main bucket col-sm-6">
                    <div style="display: block">
                        <canvas baseChart *ngIf="researcher.measures"
                            [datasets]="barChartData4"
                            [labels]="barChartLabels4"
                            [options]="barChartOptions2"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType2">
                        </canvas>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
