<div class="search-page">
    <div class="container">
        <div class="hero ">
        <h2>Research Profiler Visualizer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque, diam sed mattis interdum, magna dolor blandit quam, ac placerat erat quam ut nibh. Sed et fringilla est. Mauris sit amet gravida elit. Aliquam posuere, magna et porta facilisis, nibh tortor feugiat ante, ut pretium massa augue nec lacus. </p>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Please type a Researcher's 6+2">
            </div>
        </div>
    </div>
</div>
